In [1]:
#data mining and machine learning
#pandas

#pandas data structures :1D array/2D tabular / panel(size mutable)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.DataFrame({"A":(1,2,4),"B":(2,3,4)})

In [4]:
df

   A  B
0  1  2
1  2  3
2  4  4

In [5]:
df = pd.DataFrame({"A":[1,2,4],"B":[2,3,4]})

In [6]:
df

   A  B
0  1  2
1  2  3
2  4  4

In [8]:
df.ix[df['B']>2,] #note 'ix' here

   A  B
1  2  3
2  4  4

In [15]:
#using where function to calculate specific values in data frame
df.where(pd.DataFrame({'A':[1,2,3]}),1000)

   A     B
0  1  1000
1  2  1000
2  4  1000

In [12]:
df

   A  B
0  1  2
1  2  3
2  4  4

In [ ]:
#1.1 Reading data from csv